/* Language Selector Styles */
.language-selector {
    margin-left: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.language-selector a {
    color: white;
    text-decoration: none;
    padding: 3px 5px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.language-selector a span {
    display: none; /* Ocultar el texto de las etiquetas */
}

.language-selector a.active {
    font-weight: bold;
    text-decoration: underline;
}

.language-selector a:hover {
    opacity: 0.8;
}

.language-selector .flag-icon {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Responsive styles for language selector */
@media (max-width: 768px) {
    .language-selector {
        position: absolute;
        top: 20px;
        right: 70px;
        margin-left: 0;
    }
}
